.footer{
  background-color:white;
  height:200px;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  flex-direction:column;
  align-items: center;
  gap:1rem;
}
.footer p{
  font-size: 1.125rem;
  font-weight: 700;
}
.footer span{
  font-weigth:300;
  font-size: 0.75rem;
  margin-top: 3rem;
}

.social{
  display: flex;
  gap: 2rem;
  
}

.social img {
  width:1.275rem;
  cursor: pointer;
}
